@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Levaus";
  src: url("/fonts/Levaus.woff") format("woff"),
    url("/fonts/Levaus.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad-Regular.ttf") format("truetype"),
    url("/fonts/Afacad-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Levaus, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
